h1 {
    color: brown;
}

* {
    border: solid;
}

.header{
    background-color:  blue;
    display: flex;
    flex-direction: column;
    text-align: center;
} 
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: center;
}

p,h2{
    text-align: center;
}
